.content {
  width: 500px;
  height: 300px;
  padding: 10px;
  .oper {
    padding-bottom: 10px;
    text-align: right;
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-btn-link {
      padding: 0 7px 0 0;
    }
  }
}
